.c-btn {
    @extend .pv2;
    @extend .ph4;
    display: inline-block;
    background: $color-blue;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border: none;
    vertical-align: middle;
    transition: .2s all;

    &:hover {
        background: darken($color-blue, 30%);
    }

    &.is-disabled,
    &:disabled {
        background: desaturate(lighten($color-blue, 20%), 60%);
    }
}

.c-btn--small {
    padding: .25em .5em;
}
