.c-article-preview {
    display: flex;
    flex-direction: column;
    width: 100%;

    &:nth-child(2n) {
        direction: rtl;
    }

    @include mq-l {
        flex-direction: row;
    }
}

.c-article-preview__img {
    max-height: 400px;
    overflow: hidden;

    @include mq-l {
        width: 40%;
    }

    @include mq($breakpoint-article-preview) {
        width: 50%;
    }

    img {
        object-fit: cover;
    }
}

.c-article-preview__body {
    @extend .ph5;
    @extend .pv2;
    @extend .f5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    @include mq-l {
        width: 60%;
    }

    @include mq($breakpoint-article-preview) {
        font-size: 1.25rem;
        width: 50%;
    }
}
