$font-family: 'Open Sans', sans-serif;
$color-branding: #7fa244;
$color-blue: #619dd0;

$breakpoint-not-small: 'screen and (min-width: 30em)';
$breakpoint-medium: 'screen and (min-width: 30em) and (max-width: 60em)';
$breakpoint-large: 'screen and (min-width: 60em)';
