<header class="o-wrapper">
  <div class="o-justifize o-justifize--middle pv3">
    <nav class="u-flex-1 pr2">
      <div class="flex items-center">
        <a href="/">
          <img class="h3" src="/images/logo.png" alt="Novosadska Biciklisticka Inicijativa">
        </a>
        {% include './_desktop-nav.html' %}
     </div>
    </nav>
    <div class="relative">
      <button class="bg-transparent bn" type="button" data-toggle data-target="#language-select">
        SR
      </button>
      <div class="absolute dn z-max" id="language-select">
        <ul class="list pa2 ma0 bg-white">
          <li><a class="link" href="#">SR</a></li>
          <li><a class="link" href="#">EN</a></li>
        </ul>
      </div>
    </div>
    {% include './_mobile-nav.html' %}
  </div>
</header>
