{% extends './_page.html' %}

{% block main %}
<section class="flex">
  <div class="w-100 mw-50 c-article-image">
    <div class="aspect-ratio aspect-ratio--8x5">
      <img class="aspect-ratio--object" src="http://lorempixel.com/1000/600/sports/1" alt="">
    </div>
  </div>
  <div class="w-100 mw-50 c-article-image">
    <div class="aspect-ratio aspect-ratio--8x5">
      <img class="aspect-ratio--object" src="http://lorempixel.com/1000/600/sports/2" alt="">
    </div>
  </div>
</section>
{% endblock %}
