{% extends './_page.html' %}

{% block main %}
<section class="o-wrapper">
  <dl class="c-faq" data-faq>
    <dt>Šta je bicikl?</dt>
    <dd class="dn">
      Bicikl je vozilo sa najmanje dva točka koje se pokreće snagom vozača,
      odnosno putnika, koja se pomoću pedala ili ručica prenosi na točak,
      odnosno točkove. Bicikl može biti različite dužine, visine, geometrije,
      boje, od različitih materijala i sa različitim dodacima.
    </dd>
    <dt>Da li je zdravo voziti bicikl</dt>
    <dd class="dn">
      Voziti bicikl je veoma zdravo, a za razliku od brojnih drugih sportova,
      organizam trpi manje stresa.

      Deset minuta vožnje na dan dovoljno je za poboljšanje mišićnog tonusa,
      cirkulacije i zdravlja zglobova. Za poboljšanje srčane funkcije dovoljno
      je 30, a za sagorevanje masnoće i ubrzanje metabolizma 50 minuta dnevno.
      Vožnja biciklom dobra je zamena za trčanje jer manje oštećuje kolena, a
      jača leđne mišiće i kičmu. Bicikl može da aktivira sve mišiće na telu,
      ali dosta toga zavisi i od stila i dužine vožnje odnosno konfiguracije
      terena po kome se vozi (više mišića se aktivira na terenima sa usponima i
      spustevima).

      Najbolje vreme za vožnju je u jutarnjim časovima, kada se podstiče
      lučenje vitamina D i vezivanje kalcijuma u kostima, što sprečava
      osteoporozu. Prvih i poslednjih pet minuta vožnje treba voziti malo
      sporije (dok se telo zagreje), dok najveće benefite izvlače oni koji voze
      sa 90 otkucaja srca u minuti.

      Za 30 minuta vožnje biciklom, što je preporuka za odraslu populaciju, pri
      brzini od 10km/sat, sagori se 201 kCal. Poređenja radi, za isti vremenski
      period, ples odnosi 208 kCal, trčanje 268-455 kCal, kućni poslovi 92
      kCal, šetnja 92 kCal i plivanje 279 kCal. Pored toga, fizički aktivne
      osobe su bolje raspoložene, zadovoljnije sobom i da bolje reaguju na
      stres.
    </dd>
  </dl>
</section>
{% endblock %}
