{% extends './_page.html' %}
{% block main %}

{% include './_carousel.html' %}

<!-- biciklograd -->
<section class="bg-near-white tc pv5">
  <div class="o-wrapper">
    <div class="ph2 ph4-l">
      <h3 class="mt0">Biciklograd</h3>
      <p class="f4">
        Program "Biciklograd pokrenut je pod sloganom "Iskoristi sve
        mogućnosti bicikliranja" sa partnerima u različitim oblastima.
        Popuste i pogodnosti za novosadske bicikliste obezbediće
        prepoznatljive kompanije i institucije kulture, sporta i
        rekreacije, turizma, prevoza i druge. Korišćenjem "Biciklograd"
        kartice biciklisti i oni koji će tek početi da bicikliraju mogu da
        ostvare popuste od 5% do čak 50% na robu i usluge, kao i da ostvare
        dodatne pogodnosti. Pored ovoga korisnici programa primaće
        obaveštenja o biciklističkim događajima, aktivnostima i
        zanimljivostima, uz mogućnost odjave. Spisak pogodnosti i partnera
        se svakodnevno proširuje. U programu "Biciklograd" učestvuju Srpsko
        narodno pozorište, Novosadsko pozorište, Gradska biblioteka u Novom
        Sadu, biciklistički servisi Invictabike shop, Ris Cycling,
        Cikloteka, Fanatic i drugi.
      </p>
      <a class="c-btn mt4" href="#">
        Vise
      </a>
    </div>
  </div>
</section>
<!-- end biciklograd -->

<!-- main section -->
<section class="c-article-preview">
  <div class="c-article-preview__img">
    <div class="aspect-ratio aspect-ratio--6x4">
      <img class="aspect-ratio--object" src="/images/home-content-1.png">
    </div>
  </div>
  <div class="c-article-preview__body">
    <h3>O nama</h3>
    <p>
      Grupa građana "Novosadska biciklistička inicijativa" je
      oformljena posle protesta 2010. godine koji se desio povodom
      iznenadne i intenzivne akcije novosadske policije. Tom prilikom
      je kažnjeno više stotina biciklista zbog vožnje u pešačkoj zoni.
      Posle protesta došlo je do okupljanja pojedinaca koji su na
      različite načine uključeni u svom profesionalnom radu u
      "biciklističke teme". Među tim pojedincima su saobraćajni
      inženjeri, arhitekte, inženjeri zaštite životne sredine, kao i
      sportski radnici.
    </p>
    <div class="u-mt-auto pb3-l">
      <a class="c-btn" href="#">
        Vise
      </a>
    </div>
  </div>
</section>
<section class="c-article-preview">
  <div class="c-article-preview__img">
    <div class="aspect-ratio aspect-ratio--6x4">
      <img class="aspect-ratio--object" src="/images/home-content-2.png">
    </div>
  </div>
  <div class="c-article-preview__body">
    <h3>Vesti</h3>
    <p>
      Kinezu koji nije zaključao iznajmljeni bicikl kako je predviđeno
      kada se odvezao na posao, stigao je račun od 21,4 miliona juana
      (oko 2,7 miliona eura) za putovanje, javio je Daily Telegraph.
      Bicikl pripada kompaniji Mobike koja je u poslednje vreme počela
      sa probojem na evropsko tržište.
    </p>
    <div class="u-mt-auto pb3-l">
      <a class="c-btn" href="#">
        Vise
      </a>
    </div>
  </div>
</section>
<!-- end main section  -->

{% include '_servisne-informacije.html' %}
{% endblock %}
