<!DOCTYPE html>
<html lang="en">
  {% include "./_head.html" %}
  <body>
    {% include "./_header.html" %}
    <div class="c-carousel" data-carousel>
      <div>
        <div class="aspect-ratio aspect-ratio--16x9 relative">
          <img class="aspect-ratio--object" src="http://lorempixel.com/1000/600/sports/1" alt="">
        </div>
      </div>
      <div>
        <div class="aspect-ratio aspect-ratio--16x9 relative">
          <img class="aspect-ratio--object" src="http://lorempixel.com/1000/600/sports/2" alt="">
        </div>
      </div>
      <div>
        <div class="aspect-ratio aspect-ratio--16x9 relative">
          <img class="aspect-ratio--object" src="http://lorempixel.com/1000/600/sports/3" alt="">
        </div>
      </div>
      <div>
        <div class="aspect-ratio aspect-ratio--16x9 relative">
          <img class="aspect-ratio--object" src="http://lorempixel.com/1000/600/sports/4" alt="">
        </div>
      </div>
      <div>
        <div class="aspect-ratio aspect-ratio--16x9 relative">
          <img class="aspect-ratio--object" src="http://lorempixel.com/1000/600/sports/5" alt="">
        </div>
      </div>
    </div>
    <script src="/js/app.js"></script>
    <script>require('init')</script>
  </body>
</html>
