{% set page = "onama" %}
{% extends './_page.html' %}
{% block main %}

<!-- o nama -->
<section class="bg-near-white tc flex items-center flex-column flex-row-reverse-l">
  <div class="w-50-l pa3">
    <h3 class="mt0">O nama</h3>
    <p class="f4 measure center">
      Grupa građana "Novosadska biciklistička inicijativa" je oformljena
      posle protesta 2010. godine koji se desio povodom iznenadne i
      intenzivne akcije novosadske policije. Tom prilikom je kažnjeno više
      stotina biciklista zbog vožnje u pešačkoj zoni. Posle protesta došlo je
      do okupljanja pojedinaca koji su na različite načine uključeni u svom
      profesionalnom radu u "biciklističke teme". Među tim pojedincima su
      saobraćajni inženjeri, arhitekte, inženjeri zaštite životne sredine,
      kao i sportski radnici.
    </p>
  </div>
  <div class="mw6 mw-100-l w-50-l">
    <img class="m-100" src="/images/onama.png" alt="">
  </div>
</section>
<!-- end o nama -->

<!-- ciljevi i svrha udruzenja -->
<section class="o-wrapper pv3 pv5-l">
  <h3 class="mb4 tc">Ciljevi i svrha udruzenja</h3>
  <p>
    Unapređenje, razvoj i promocija urbanog biciklizma;<br>
    Unapređenje, razvoj i promocija zdravog stila života;<br>
    Podrška planskom razvoju i obnavljanju biciklističke infrastrukture;<br>
    Podrška i doprinos razvoju novih idejnih rešenja i inovativnih pristupa u
    razvoju biciklističke kulture, naročito na teritoriji grada Novog Sada;<br>
    Promovisanje kulture bezbednog saobraćaja i tolerancije među učesnicima u
    saobraćaju;<br>
    Kontinualna edukacija građana o posebnim preventivnim merama usmerenim na
    obezbeđenje bicikla od krađe;<br>
    Informisanje građana o drugim pitanjima i saznanjima u oblasti biciklizma i
    zdravog stila života koja su od naročitog značaja za bicikliste i ostala
    zainteresovana lica;<br>
    Doprinos inicijativama usmerenim ka energetskoj efikasnosti i održivom razvoju;<br>
    Različiti oblici edukacije i podsticaja mladih i omladine u skladu sa ciljevima udruženja, naročito kroz akcije, projekte, radionice i slične aktivnosti;<br>
    Angažman članova je prvenstveno volonterski.
  </p>
  <p>
    Okupljanje novosadskih biciklista i ostalih zainteresovanih lica po pitanjima vezanim za biciklizam;<br>
    Prikupljanje komentara građana vezanih za postojeću infrastrukturu i planiranje nove;<br>
    Zagovaranje biciklističkih interesa;<br>
    Povezivanje sa organizacijama od značaja za biciklizam;<br>
    Ostale informacije možete naći na stranici Kontakt
  </p>
</section>
<!-- end ciljevi i svrha udruzenja -->

{% endblock %}
